/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  
h1 {
    font-size: 250px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
  }
 
 /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: rgb(51b8fd);
    border-radius: 3px;
    text-align: end;
  } 



  .header h1 {
    padding: 160px;
    margin: 0;
    color: #000;
    text-align: center;
  }

  