/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  
h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
  }
  
h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

a {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
 
 /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */

 .navbar li {
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 3px;
    text-align: end;
  } 

.imageNav-photo{  

  width: 200px;
  height: 200px;

}

.imageNav-photo:hover {

  opacity: 0.6;
}

.imageNav-photo.active {

  border: 2px solid #4aaaa5;
}

.image-nav{ 
padding: 70px 70px 80px;
}

.container {
font-size: 100;
color: #4aaaa5;
}

#White{
  font-size: 150;
}

#comparison-link{

  width: 1000px;
  height: 200px;
}